/*a {
/*  color: #04678d;
/*}
/*
/*
/* /* unvisited link */
/*a:link {
/*  color: #04678d;
/*  text-decoration: none;
/*}
/*
/* visited link */
/*a:visited {
/*  color: #04678d;
/*  text-decoration: none;
/*}
/*
/* mouse over link */
/*a:hover {
/*  color: #04678d;
/*  text-decoration: underline;
/*  transition: color 0.6s ease;
/*}
/*
/*
/* selected link */
/*a:active {
/*  color: #04678d;
/*  text-decoration: underline;
/*} 
/*
/*
/*.fa-ul a {
/*  color: #04678d;
/*}*/



/* Hanging indent class for publications */

.hanging-indent {
  padding-left: 22px ;
  text-indent: -22px ;
} 

.fa-stack {
  font-size: 1.3em;
}


/* Style figure captions */
figcaption {
  font-size: 10pt;
  font-style: italic;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
